    <!-- Modifier le code ci-dessous -->
    <div class="content">
        <!-- Ces éléments sont affichés sur la même ligne -->
        <div class="row" *ngIf="pokemon && pokemon.length >= 2">
          
          <app-enfant [pokemonListInput]="pokemon" 
          (deletePokemonEvent)="removePokemon($event)" 
          (showdetailsEvent)="onSelectedPokemon($event)"
          (favoritePokemonEvent)="onFavoritePokemon($event)">
          </app-enfant>
          
          <app-pokemon-details [pokemonDetailsInput]="selectedPokemon">
          </app-pokemon-details>
        
        </div>
      </div>